smartapi-python
pyotp
logzero
websocket-client
pandas
numpy
requests
flask
reportlab
openpyxl
 - name: Install requirements
        run: pip install smartapi-python pyotp logzero websocket-client requests reportlab
